<aside class="left">
			<ul>
				<li>
					<dl>
						<dt ><a href="" ng-click="toggle4()">系统管理</a></dt>
						<div ng-show="mybq4">
						<dd>
							<a href="/app/1_SystemManage/RoleManagement/RoleList.html">角色管理</a>
						</dd>
						<dd>
							<a href="/app/1_SystemManage/UserManagement/UserList.html">用户管理</a>
						</dd>
						<dd>
							<a href="/app/1_SystemManage/log/log.html">日志</a>
						</dd>
					</dl>
				</li>
				<li >
					<dl>
						<dt><a href="" ng-click="toggle()">公司管理</a></dt>
						<div ng-show="mybq">
						<dd>
							<a href="/app/2_CompanyManage/PostManagement/post.html" >岗位管理</a>
						</dd>
						<dd>
							<a href="/app/2_CompanyManage/DptManagement/dpt.html">部门管理</a>
						</dd>
						</div>
					</dl>
				</li>
				<li>
					<dl><dt><a href="/app/3_Enter/TalentPool.html">人才库管理</a></dt></dl>
				</li>
				<li>
					<dl>
						<dt><a href="" ng-click="toggle1()">员工管理</a></dt>
						<div ng-show="mybq1">
						<dd>
							<a href="/app/4_staff/WorkInfoCenter/workerInfo.html">员工信息中心</a>
						</dd>
						<dd>
							<a href="">员工入职管理</a>
						</dd>
						<dd>
							<a href="/app/4_staff/ProbationManagement/ShiyongManagement.html">试用期管理</a>
						</dd>
						<dd>
							<a href="/app/4_staff/DptMovement/dptWorkerList.html">部门调动管理</a>
						</dd>
						<dd>
							<a href="/app/4_staff/PostMovement/postWorkerList.html">岗位调动管理</a>
						</dd>
						<dd>
							<a href="/app/4_staff/QuitManagement/WorkerList.html">离职管理</a>
						</dd>
						</div>
					</dl>
					
				</li>
				<li>
					<dl>
						<dt ><a href="" ng-click="toggle2()">报表管理</a></dt>
						<div ng-show="mybq2">
						<dd>
							<a href="/app/5_tables/1_Hire.html">新聘员工报表</a>
						</dd>
						<dd>
							<a href="/app/5_tables/2_Quit.html">离职员工报表</a>
						</dd>
						<dd>
							<a href="/app/5_tables/3_DptMovement.html">部门调动员工报表</a>
						</dd>
						<dd>
							<a href="/app/5_tables/4_PostMovement.html">岗位调动员工报表</a>
						</dd>
						<dd>
							<a href="/app/5_tables/5_PersonnelReport.html">人事月报</a>
						</dd>
						</div>
					</dl>
				</li>

			</ul>
		</aside>
	
